수박수박수박수

In [1]:
def solution(n):
    a = []
    for i in range(n):
        if i%2 == 0:
            a.append("수")
        else:
            a.append("박")
    answer = ''.join(a)
    return answer
solution(4)

'수박수박'

서울에서 김서방 찾기

In [2]:
def solution(seoul):
    
    n = seoul.index("Kim")
    answer = '김서방은 ',str(n),'에 있다'
    answer = ''.join(answer)
    return answer

약수의 합

In [3]:
def solution(n):
    
    a = []
    for i in range(1, n+1):
        if n%i == 0:
            a.append(i)
    answer = sum(a)
    return answer

solution(5)

6

문자열 내 개수 세기

In [4]:
def solution(s):
    
    s = s.lower()
    if s.count('p') == s.count('y'):
        return True
    else:
        return False

같은 숫자는 싫어

In [5]:
def solution(arr):
    answer = []
    for i in range(len(arr)):
        if i == 0 or arr[i-1] != arr[i]:
            answer.append(arr[i])
    return answer

가운데 글자 가져오기

In [6]:
def solution(s):
    a = list(s)
    i = 0
    while i < len(s)-2:
        a.pop()
        a.reverse()
        a.pop()
        a.reverse()
        i += 2
    
    answer = ''.join(a)
    return answer
solution("lkd")

'k'

x만큼 간격의 n개의 숫자

In [7]:
def solution(x, n):
    answer = []
    for i in range(n):
        answer.append(x+x*i)
    return answer

직사각형 별 찍기

In [8]:
def star(m,n):
    answer = '*'*m
    print((answer+'\n')*(n-1),('\b'+answer))
star(5,3)

*****
*****
 *****

In [9]:
n, m = map(int, input().split())

for _ in range(m):
    print('*' * n)

2 4
**
**
**
**

평균 구하기

In [10]:
def solution(arr):
    answer = sum(arr)/len(arr)
    return answer

행렬의 덧셈

In [11]:
import numpy as np
import json

def solution(arr1, arr2):
    a = np.array(arr1)
    b = np.array(arr2)
    answer = a + b
    return answer.tolist()  # NumPy 배열을 Python 리스트로 변환

result = solution([[[1,2],[2,3]],[[1],[2]]], [[[4,6],[7,9]],[[4],[6]]])
result_json = json.dumps(result)  # 결과를 JSON 문자열로 변환
print(result_json)

[[[1, 2, 4, 6], [2, 3, 7, 9]], [[1, 4], [2, 6]]]

C:\Users\Playdata\AppData\Local\Temp\ipykernel_4568\2751429012.py:5: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  a = np.array(arr1)
C:\Users\Playdata\AppData\Local\Temp\ipykernel_4568\2751429012.py:6: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  b = np.array(arr2)

짝수와 홀수

In [12]:
def solution(num):
    if num%2 == 0:
        return "Even"
    else:
        return "Odd"

각 자릿수의 합

In [22]:
def solution(n):
    a = str(n)
    answer = 0
    for i in range(len(a)):
        answer += int(a[i])

    return answer
solution(123)

6

최대공약수, 최소공배수

In [25]:
import math
def solution(n, m):
    gcd = math.gcd(n,m)
    lcm = n*m//gcd
    
    answer = [gcd, lcm]
    return answer
solution(2,5)

[1, 10]

제곱근 판별

In [44]:
def solution(n):
    
    for i in range(1, int(n**0.5)+1):
        if i**2 == n:
            return (i+1)**2
    return -1
solution(144)

169

문자열 다루기

In [15]:
def solution(s):
    if len(s) != 4 and len(s) != 6:
        return False
    if any(char.isalpha() for char in s):
        return False
    return True
solution("123a")

False

정수 내림차순으로 배치하기

In [39]:
def solution(n):
    n = str(n)
    a = list(map(str, n))
    a.sort(reverse = True)
    b = ''.join(a)
    return b
solution(5426398)

'9865432'

자연수 뒤집어 배열로 만들기

In [43]:
def solution(n):
    n = str(n)
    a = list(n)
    a.reverse()
    a= list(map(int,a))
    print(a)
solution(12345)

[[5, 4, 3, 2, 1]]

핸드폰 번호 가리기

In [51]:
def solution(phone_number):
    length = len(phone_number)
    hidden = '*' * (length - 4)  
    visible = phone_number[-4:] 
    answer = hidden + visible
    return answer

하샤드 수

In [57]:
def solution(n):
    a = str(n)
    answer = 0
    for i in range(len(a)):
        answer += int(a[i])

    if n % answer == 0 :
        return True
    return False
solution(11)

False

나누어 떨어지는 숫자 배열

In [59]:
def solution(arr, divisor):
    a = []
    for i in range(len(arr)):
        if arr[i] % divisor == 0 :
            a.append(arr[i])
    if not a:
        a.append(-1)
    a.sort()
    return a
solution([5, 9, 7, 10], 5)

[5, 10]

In [13]:
def solution(answers):
    arr1=[1,2,3,4,5]*2000
    arr2=[2,1,2,3,2,4,2,5]*1250
    arr3=[3,3,1,1,2,2,4,4,5,5]*1000
    
    cnt1 = 0
    cnt2 = 0
    cnt3 = 0
    
    for i in range(len(answers)):
        if answers[i] == arr1[i]:
            cnt1 += 1
        if answers[i] == arr2[i]:
            cnt2 += 1
        if answers[i] == arr3[i]:
            cnt3 += 1
            
    max_cnt = max(cnt1, cnt2, cnt3)
    answer = []
    
    if cnt1 == max_cnt:
        answer.append(1)
    if cnt2 == max_cnt:
        answer.append(2)
    if cnt3 == max_cnt:
        answer.append(3)
    
    return answer
       
solution([1,2,3,4,5])

[1]

요일 맞히기

In [6]:
import datetime
def solution(a, b):
    day = datetime.date(2016, a, b)
    dd = day.weekday()
    
    weekdays = ["MON", "TUE", "WED", "THU", "FRI", "SAT", "SUN"]
    dd_name = weekdays[dd]
    
    print(dd_name)
solution(5,23)

MON

예산

In [13]:
def solution(d, budget):
    d.sort()
    
    cnt = 0
    for i in range(len(d)):
        cnt +=d[i]
        if cnt > budget:
            return i
    print(i+1)

solution([8,3,7,5,4],2)

0

시저 암호

In [31]:
def solution(s, n):
    arr1 = "abcdefghijklmnopqrstuvwxyz"*2
    list_arr1 = list(arr1)
    arr2 = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"*2
    list_arr2 = list(arr2)
    answer = []
    for i in s:
        if i in list_arr1:
            idx = list_arr1.index(i)
            answer.append(list_arr1[idx + n])
        elif i in list_arr2:
            idx = list_arr2.index(i)
            answer.append(list_arr2[idx + n])
        else:
            answer.append(i)
    
    print(''.join(answer))
solution("a B c",1)

b C d

이진수 변환

In [19]:
def binary(n):
    answer = ""
    while n > 0:
        if n%2 == 1:
            answer = "1" + answer
            n = n//2
        else:
            answer = "0" + answer
            n = n//2
    print(answer)
n=int(input())
binary(n)

2
10